<div class="row">
	<div class="col s12">	
		<div class="row">
			<div class="fixes-action-btn">
				<a href="/stories/add" class="col s4 waves-light btn green lighten-1"><i class="fas fa-plus"></i></a>
			</div>
			<div class="fixes-action-btn center-align">
				<a href="/stories" class="col s4 waves-light btn green lighten-1"><i class="fas fa-border-all"></i></a>
			</div>
			<div class="fixes-action-btn center-align">
				<a href="/" class="col s4 waves-light btn green lighten-1"><i class="fas fa-user"></i></a>
			</div>
		</div>
	</div>
</div>