<h3>Edit Story: {{story.title}}</h3>
<div class="row">
	<form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
		<div class="row">
			<div class="input-field">
				<input type="text" id="title" name="title" value="{{story.title}}" />
				<label for="title">Title</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<select id="status" name="status">
                {{#select story.status}}
					<option value="public" selected>Public</option>
					<option value="private">Private</option>
                {{/select}}
				</select>
				<label for="status">Status</labe>
			</div>
		</div>

		<div class="row">
			<div class="input-field">
				<h5>Your NodeStory:</h5>
				<textarea id="body" name="body">{{story.body}}</textarea>
			</div>
		</div>

		<div class="row">
			<input type="submit" value="save changes" class="btn" />
			<a href="/dashboard" class="btn orange"><i class="fas fa-undo-alt"></i></a>
		</div>
	</form>
</div>